/* Parents */
body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}
p {
    font-size: 1.2rem;
}
img {
    max-width: 100%;
}
a {
    color: #59331d;
}
a:hover {
    text-decoration: none;
}





/* Nav bar */
header {
    border-bottom: 10px solid #d98555;
}
nav div {
    text-align: center;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}
nav li {
    font-size: 1.7rem;
    padding: 1rem;
}
nav img {
    max-width: 200px;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #d98555;
}





/* Body */
.main-bkgd {
    background: #ffffff url("https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg") repeat-x bottom;
    padding-bottom: 200px;
}
.main {
    margin: 0 auto;
    padding: 2rem;
}
article {
    flex-basis: 50%;
}
figure {
    margin: 3rem 0 0 0;
    padding: 0;
}
figure img {
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.button {
    display: inline-block;
    font-size: 1.2rem;
    background-color: #59331D;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid #59331d;
}
.button:hover {
    background-color: #f2f2f2;
    color: #59331d;
}





/* Footer */
footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
    padding: 0 1rem;
}
footer p.disclaimer {
    font-size: 1rem;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
}





/* For medium screens */
@media (min-width: 768px) {
    nav div {
        text-align: center;
    }
    nav .item {
        display: inline-block;
    }

    .main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    figure {
        margin: 3rem 0 0 0;
        flex-basis: 45%;
    } 
}

/* For large screens */
@media (min-width: 992px) {
    nav{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    nav ul {
        display:flex;
        flex-direction:row;
    }
    nav .logo {
        padding: 2rem;
    }
    nav .item{
        display: flex;
        padding: 6rem 3rem 1rem 1rem;
    }

    .main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    figure {
        margin: 3rem 0 0 0;
        flex-basis: 45%;
    }
}