body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
    color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 4px 4px #D98555;
}
h1 {
    font-size: 3rem;
}
article p {
    font-size: 1.6rem;
    color: #59331d;
    text-shadow: 2px 4px 4px #D98555;
}
a {
    color: #59331d;
}
a:hover {
    text-decoration: none;
}
header {
    border-bottom: 10px solid #d98555;
}
nav div {
    text-align: center;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}
nav li {
    font-size: 1.7rem;
    padding: 1rem;
}

nav .logo img {
    max-width: 200px;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #d98555;
}
















.main-bkgd {
    background: url("images/gulp-drinking-coffee.jpg") no-repeat;
    padding-bottom: 200px;
    background-size: cover;
}
.main {
    margin: 0 auto;
    padding: 2rem;
}
article {
    flex-basis: 50%;
}

.button {
    display: inline-block;
    font-size: 1.2rem;
    background-color: #59331D;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 2rem 0 0 0;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid #59331d;
}
.button:hover {
    background-color: #f2f2f2;
    color: #59331d;
}















footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
    padding: 0 1rem;
    line-height: 2rem;
}
footer p {
    font-size: 1.6rem;
}
footer p.disclaimer {
    font-size: 1rem;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
}







@media (min-width: 768px) {
    nav div {
        text-align: center;
    }
    nav .item {
        display: inline-block;
    }

    .main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    nav{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    nav ul {
        display:flex;
        flex-direction:row;
    }
    nav .logo {
        padding: 2rem;
    }
   
    nav .item{
        display: flex;
        padding: 6rem 3rem 1rem 1rem;
    }


    .main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}