body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 2rem;
}

h2 {
    font-size: 1.2rem;
}
p {
    font-size: 1.2rem;
}
img {
    max-width: 100%;
    border-radius: 10px;
}
header {
    border-bottom: 10px solid #d98555;
}
nav div {
    text-align: center;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}
nav li {
    font-size: 1.7rem;
    padding: 1rem;
}



nav .logo img {
    max-width: 200px;
    padding: 0;
    margin: 0;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #d98555;
}















.main-bkgd {
    background: #ffffff url("https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg") repeat-x bottom;
    padding-bottom: 200px;
}
.main {
    margin: 0 auto;
    padding: 0 2rem 2rem 2rem;
}














footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
    padding: 0 1rem;
}
footer p.disclaimer {
    font-size: 1rem;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
}







@media (min-width: 768px) {
    nav div {
        text-align: center;
    }
    nav .item {
        display: inline-block;
    }



    h2 {
        margin: 0;
    }
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.5rem 1rem;
    }
}


@media (min-width: 992px) {
    nav{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    nav ul {
        display:flex;
        flex-direction:row;
    }
    nav .logo {
        padding: 2rem;
    }
   
    nav .item{
        display: flex;
        padding: 6rem 3rem 1rem 1rem;
    }  



    h2 {
        margin: 0;
        font-size: 1.8rem;
    }
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem 2rem;
    }

    .ai {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .aa {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .bi {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .ba {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .ci {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .ca {
        grid-column: 3/4;
        grid-row: 2/3;
    }
}