.bg-primary {
    background-color: #082B59 !important;
}

.card {
    background-color: #59331d !important;
}

.border-secondary {
    border-color: #D98555 !important;
}
/* 
footer {
    background-color: #082B59 !important;
} */

.text-light {
    color: #F2F2F2 !important;
}



/* color palette:
#082B59 bright blue
#131D26 navy blue
#59331D coffee
#D98555 peach
#F2F2F2 white

Fonts:
Headlines - Poppins Bold
Text - Lato

Links all go to https://uxuicurriculum.wixsite.com/gulproast

*/