/* Body + general HTML */
body {
    font-family: 'Lato', sans-serif;
    line-height: 2;
}

h1, h3 {
    font-family: 'Poppins', sans-serif;
}

/* Navigation Bar Styling */
.bg-primary {
    background-color: #082B59 !important;
}

.bg-light {
    background-color: #f2f2f240 !important;
}

.nav-item > a:hover {
    color: #D98555 !important;
}

.text-light {
    color: #F2F2F2 !important;
}

/* Body Styling */
.card {
    background-color: #59331d !important;
}

.border-secondary {
    border-color: #D98555 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color:#F2F2F2 !important;
    background-color: #59331D !important;
}

.container .nav-link {
    color:#D98555 !important;
}